services:
  corretto:
    build:
      context: ./distroless
      dockerfile: Dockerfile_corretto
    healthcheck:
      test: "curl -f http://localhost:8080 || exit 1"
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s
    ports:
      - "8081:8080"

  distroless:
    build:
      context: ./distroless
      dockerfile: Dockerfile_distroless
    healthcheck:
      test: "curl -f http://localhost:8080 || exit 1"
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s
    ports:
      - "8082:8080"

  distroless-custom-jre:
    build:
      context: ./distroless
      dockerfile: Dockerfile_custom_jre
    healthcheck:
      test: "curl -f http://localhost:8080 || exit 1"
      interval: 5s
      timeout: 5s
      retries: 3
      start_period: 30s
    ports:
      - "8083:8080"
