[tools]
gradle = "9.2.1"
java = "corretto-21.0.8.9.1"

[tasks.jdeps]
description = "Show module dependencies of jar"
run = """
./gradlew clean {{arg(name="module")}}:build -x test

jdeps \
--print-module-deps \
--ignore-missing-deps \
--recursive \
--multi-release 21 \
-quiet \
{{arg(name="module")}}/build/libs/{{arg(name="module")}}.jar
"""
